body, header, h1, a, input, span, i, button, div, form{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Quattrocento Sans", Arial;
}

/* HEADER ---------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/

.header{
    background-color: #242424;
    padding: 5px;
}
/* LOGO -------------------------------------- */
.header h1 {
    font-size: 2em;
    margin-top: 0.19em;
    letter-spacing: -2px;
    margin-left: -0.6em;
}
.header h1 a{
    text-decoration: none;
    font-weight: 100;
    color: #57C5A0;
}
/* SEARCH ------------------------------------ */
.navbar-form {
    margin: 0;
}
#srch-term {
    font-size: 1em;
    font-weight: bold;
    background-color: #242424;
    color: #7E7E7E;
    border-style: none;
    border-left-style: double;
    border-left-color: #7E7E7E;
    box-shadow: none;
}
#srch-term:focus {
    border-left-color: #7E7E7E;
}
#search-button {
    background-color: #242424;
    border-style: none;
    border-right-style: solid;
    border-right-color: #7E7E7E;
    height: 2.42em;
    -webkit-tap-highlight-color: #242424;
    outline: none;
}
#search-button:hover {
    background-color: #242424;
}
.glyphicon-search {
    color: #7E7E7E;
}
#input-group {
    float: right;
    width: 70%;
}
.navbar-form {
    margin-top: 0.2em;
}
/* SEARCH DROP DOWN */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4D4D4D;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 2.5em;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #9A9A9A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.show {display:block;}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

#myDropdown a:first-child {
    border-bottom: 1px solid #9A9A9A;
}
/* LOGIN & REGISTER ----------------------------------------------------------*/
.logform {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.7em;
    margin-left: -1.5em;
}
.logform a {
    color: #7E7E7E;
    text-decoration: none;
}

.logform span {
    color: #7E7E7E;
}

/* NAVIGATION ------------------------------------------------------------------------*/

.container .navbar-collapse {
    margin-left: 9%;
}
.navbar-nav {
    font-weight: bold;
} 
.navbar-nav li {
    padding-right: 0.4em;
    padding-left: 0.4em;
    border-right: 1px solid #d6d6c2;
}
.navbar-nav li:first-child {
    border-left: 1px solid #d6d6c2;
}
.navbar-nav li:hover {
    background-color: #d6d6c2;
}
.navbar-toggle {
    float: left;
    margin-left: 2em;
}
.navbar-nav .menu-active {
    color: #57C5A0 !important;
}

/* WISH AND CART ----------------------------------------------------------------------*/
.wish-and-cart {
    float: right;
    margin-top: -2.5em;
}
.wish-and-cart li {
    display: inline;
    padding: 1.25em;
    border-right: 1px solid #d6d6c2;
}
.wish-and-cart li:first-child {
    border-left: 1px solid #d6d6c2;
}
.wish-and-cart li span {
    font-size: 0.8em;
    margin-left: 0.3em;
    background-color: gray;
    padding: 5px;
    font-weight: bold;
    color: white;
    border-radius: 20%;
}
.wish-and-cart .fa-star-o, .wish-and-cart .fa-shopping-cart {
    position: relative;
    top: 0.10em;
    color: #7E7E7E;
    margin-right: 0.2em;

}
.wish-and-cart li span:hover {
    cursor: default;
    background-color: #61C39D;
}
.wish-and-cart #search{
    display: none;
}
.wish-and-cart #star {
    border-left: 1px solid #d6d6c2;
}

/* CAROUSEL -------------------------------------------------------------------------*/

.poster {
    margin-top: -1.5em;
}

#myCarousel {
    margin-top: -1.4em;
}   
.carousel-indicators {
   bottom: -50px;
}
.slider-content {
    width: 25%;
    position: absolute;
    bottom: 22%;
    left: 55%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.slider-content span {
    background-color: #61C39D;
    padding: 1.4em 0.5em;
}
.slider-content p {
    color: black;
    font-size: 1.3em;
}
.slider-content #header-of-content {
    font-size: 3em;
    color: black;
    margin-top: 0.7em;
    line-height: 1em;
}
.slider-content i {
    background-color: white;
    padding: 0.6em 0.7em;
    color: #7E7E7E;
}
.action-buttons li {
    display: inline;
}
.action-buttons li .fa-star-o {
    margin-left: -1px;
}
.action-buttons li i:hover {
    color: #61C39D;
}
.carousel-ad {
    background-color: #2E2E2E;
}
.carousel-option-3 {
    background-color: black;
    width: 33%;
    height: 70%;
}
.carousel-text {
    width: 32%;
    color: #979797;
    margin-top: 1.5em;
    margin-bottom: 0;
    text-align: center;
    display: inline-block;
}
.carousel-text p {
    margin-top: -0.5em;
}
.carousel-text h4 {
    margin-top: 10px;
    font-weight: bold;
}
.item img {
    width: 100%;
    height: auto
}
ol.carousel-indicators {
    position: absolute;
    bottom: -20px;
    margin: auto;
    left: 0;
    right: 0;
    width: 50%;
    padding: 0.2em 0.7em 0.2em 0.7em;
    background-color: black;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 33%;
    height: 0.5em;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
}
ol.carousel-indicators li:first-child {
    border-right: 3px solid gray;
}
ol.carousel-indicators li:last-child {
    border-left: 3px solid gray;
}
ol.carousel-indicators li.active {
    background: #57C5A0;
}
.highlight-white {
    color: white;
}
.carousel-ad h2 {
    color: #979797;
}

/*OFFERS --------------------------------*/
.offers {
    background-color: #242424;
    padding: 1em;
    text-align: center;
}
.offers img {
    display: inline-block;
}
.offers img:first-child {
    margin-right: 1em;
}
.offers img:last-child {
    margin-left: 1em;
}
/* HOME - PRODUCTS ----------------------*/

.products-title {
    background-color: #EBE7DF;
}

.products-title button {
    color: #C3BDAF;
    position: relative;
    top: 1em;
    right: 1.9em;
    width: 7em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    border: 2px solid #C3BDAF;
    font-weight: bold;
    background-color: #EBE7DF;
}
.products-title button:hover {
    color: #57C5A0;
    border: 2px solid #57C5A0;
}
.products-title h3 {
    margin-left: 0.5em;
}

.new-arrivals {
    background-color: #EBE7DF;
}
.new-arrivals section {
    margin-top: 1em;
    text-align: center;
}

.new-arrivals article {
    display: inline;
}
.new-arrivals article:first-child {
    margin-right: 1em;
}
.new-arrivals article:last-child {
    margin-left: 1em;
}

.product1 .title-fonts, .product4 .title-fonts {
    font-size: 1.4em;
    font-weight: bold;
    position: absolute;
    width: 10em;
    top: 10.7em;
    left: 5.5em;
    text-align: start;
}
.product2 .title-fonts, .product5 .title-fonts {
    font-size: 1.4em;
    font-weight: bold;
    position: absolute;
    width: 10em;
    text-align: start;
    top: 10.7em;
    left: 20.2em;
}
.product3 .title-fonts, .product6 .title-fonts {
    font-size: 1.4em;
    font-weight: bold;
    position: absolute;
    width: 10em;
    text-align: start;
    top: 10.7em;
    right: 1.5em;
}

.fonts ul li {
    margin-right: 0.7em;
}
.fonts ul li:first-child {
    margin-lefT: 1.5em;
}


.best-sellers {
    background-color: #EBE7DF;
}

/* DIVIDER ------ */
.divider {
    background-color: #EBE7DF;
}
.divider hr {
    margin-top: 3em;
    border-color: #C2BCAF;
    width: 97%;
}

/*UNDER CONTENT ----------------------*/
.under-content {
    background-color: #EBE7DF;
}

.free-shipping, .testimonials {
    width: 22%;
    padding: 1em;
    background-color: #DFDBD4;
    margin-left: 1em;
    display: inline-block;
    font-size: 0.8em;
    position: relative;
    top: -2.1em;
    padding-bottom: 2em;
}
.free-shipping h4, .free-shipping p, .testimonials h4, .testimonials p, .blog-news h4, .blog-news p{
    font-weight: bold;
}
.blog-news {
    margin-left: 1em;
    display: inline-block;
    width: 50%;
    background-color: #DFDBD4;
    padding: 1em;
    position: relative;
    padding-bottom: 0px;
}
.blog-entry-1 h5, .blog-entry-2 h5 {
    display: inline;
    position: relative;
    top: -1.2em;
    left: 0.2em;
    font-weight: bold;
}
.blog-entry-1 p, .blog-entry-2 p {
    font-size: 0.8em;
    margin-left: 3.8em;
    position: relative;
    top: -1.5em;
    left: 0.2em;
    font-weight: bold;
}
#date, #date2 {
    background-color: #57C5A0;
    padding: 0.5em;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 1em;
}
.blog-news article:last-child {
    margin-top: -1em;
}

/* FOOTER --------------------------------------------------------------------------*/
.footer {
    background-color: #242424;
    color: #949494;
    height: 35em;
}
.footer p {
    font-size: 1em;
    font-weight: bold;
}
.text-widget {
    padding: 1em;
    text-align: justify;
}
.footer h4 {
    font-weight: bold;
}
.twitter h4{
    margin-top: 1.3em
}

iframe[id^='twitter-widget-']{
    width: 300px !important;
    max-height: 220px !important;
}
twitterwidget {
    width: 300px !important;
    max-height: 220px !important;
}
/* MODAL IMAGES */
.flickr {
    margin-top: 1em;
}

.images {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 2px;
}

.images:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*UNDER-FOOTER ---------------------------*/

.under-footer {
    border-top: 1px solid black;
    background-color: #242424;
    padding: 1em;
}
.under-footer input {
    background-color: #2E2E2E;
    padding: 0.5em;
    font-size: 1em;
    width: 20em;
    font-weight: bold;
    font-style: italic;
    margin-top: 2em;
    margin-bottom: 2em;
    display: inline;
    outline: none;
    color: #757575;
}
.under-footer button {
    font-size: 1.71em;
    position: relative;
    top: 3px;
    width: 2em;
    right: 3px;
    font-weight: bold;
    background-color: #7D7D7D;
}
.social-buttons {
    margin-top: 1.7em;
}

.fa-facebook-square:hover {
    color: #3B5998;
    cursor: pointer;
}
.fa-twitter-square:hover {
    color: #1DA1F3;
    cursor: pointer;
}
.fa-google-plus-square:hover {
    color: #ED3800;
    cursor: pointer;
}
.fa-linkedin-square:hover {
    color: #007BB6;
    cursor: pointer;
}
.fa-flickr:hover {
    color: #EB29A6;
    cursor: pointer;
}

/* COPYRIGHT */
.copyright {
    padding: 1em;
    background-color: #2E2E2E;
    color: #757575;
    font-weight: bold;
}

/*PRODUCTS PAGE -----------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------
 */

.filters {
    background-color: #2E2E2E;
    padding: 0.5em;
}
.filters h4 {
    color: white;
    font-weight: bold;
    margin-top: 1em;
}
.filters select {
    width: 12em;
    padding: 1em;
    padding-left: 4.5em;
    color: white;
    background-color: black;
    font-weight: bold;
    border: none;
    margin-top: 0.2em;
    margin-right: 0.5em;
}
.filters select option:first-child {
    display: none;
}


/*BREADCRUMB */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    font-weight:bold;
    background: #EBE7DF;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 1em;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
.products-title .crumbarticle {
    margin-top: 1.1em;
    margin-left: -5em;
}


.view button {
    width: 2em;
    padding: 0;
    margin-top: 0.5em;
}
.view span {
    font-weight: bold;
    color: #C3BDAF;
    position: relative;
    top: 1em;
    left: -2em;
}
.view select {
    position: relative;
    top: 1em;
    padding: 0.2em;
    padding-left: 1.5em;
    left: -1.5em;
    font-weight: bold;
    background-color: #EBE7DF;
    color: #C3BDAF;
    border: 2px solid;
}

.footer-menu li {
    display: inline;
}
.footer-menu li a {
    text-decoration: none;
}

/* LOGIN AND REGISTER MODAL -------------------*/

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 25; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    width: 40%; /* Full width */
    margin-left: 30%;
}

/* Modal Content/Box */
.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#modalBtn {
    margin-top: -8px;
    background-color: #242424;
    color: #999999;
    font-weight: bold;
    outline: none;
}
#modalBtn:hover {
    background-color: #57C5A0;
}
.modal-header {
    padding: 2px 16px;
    background-color: #57C5A0;
    color: white;
}
.modal-content2 input {
    display: block;
    border: 1px solid black;
    padding: 0.5em;
    margin: 1em auto;
}
.modal-content2 button {
    display: block;
    margin: 1em auto;
    padding: 0.5em;
    width: 12em;
}
.modal-content2 button:hover {
    background-color: #57C5A0;
}




/* MEDIA QUERIES---------------------------------------------------------------------- */


@media screen and (max-width: 992px){
    .container .navbar-collapse {
        margin-left: 13.5%;
    }
    #input-group {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .poster img {
        width: 100%;
    }
    .poster .slider-content {
        bottom: 74% !important;
    }
    .header h1 {
        font-size: 1.7em;
        margin-top: 0.3em;
    }
    #srch-term {
        font-size: 1em;
        margin-top: 0.2em;
    }
    .logform {
        font-size: 1em;
        margin-top: 0.6em;
    }
    #search-button {
        height: 2.42em;
        margin-top: 0.2em;
    }
    .navbar-form {
        margin-top: -0.1em;
    }
    #input-group {
        width: 100%;
    }
    .container .navbar-collapse {
        margin-left: 0;
    }
    div.slider-content {
        bottom: 10%;
    }

    div.slider-content p{
        font-size: 0.8em;
    }
    div.slider-content #header-of-content {
        font-size: 1.5em;
    }
    div.slider-content span {
        font-size: 0.8em;
        padding: 1em 0.3em;
    }
    .offers .img-responsive {
        width: 30%;
    }
    .products-title h3 {
        font-size: 1.2em;
        margin-left: 1.1em;
    }
    .products-title button {
        width: 5em;
        font-size: 0.9em;
        margin-left: -2em;
    }
    .new-arrivals img {
        width: 25%;
    }
    .product1 .title-fonts, .product4 .title-fonts {
    font-size: 1em;
    top: 10em;
    left: 10.5em;
    }   
    .new-arrivals .fonts {
        margin-left: -1em;
    }
    .product3 .title-fonts, .product6 .title-fonts {
        font-size: 1em;
        top: 10em;
        right: 5.5em;
    }
    .product2 .title-fonts, .product5 .title-fonts {
        font-size: 1em;
        top: 10em;
        left: 25em;
    }
    .free-shipping {
        display: none;
    }
    .testimonials {
        margin-left: 8em;
    }
    .text-widget {
        font-size: 0.8em;
    }
    .twitter {
        display: none;
    }
    .images {
        width: 80px;
        height: 50px;
    }
    .footer {
        height: 15em;
    }
    #email {
        width: 15em;
    }
    .poster .slider-content #header-of-content {
        display: inline;
    }
    .poster .slider-content span{
        position: relative;
        top: -9px;
    }
    .products-title .view button {
        width: 2em;
        margin-left: 0em;
    }
    .view {
        float: right;
        margin-right: 2.5em;
    }
    .view select {
        padding: 0em;
        padding-left: 1.5em;
    }
    .products-title .crumbarticle {
        margin-top: 0.7em;
    }

}
@media screen and (max-width: 767px) {
    .wish-and-cart #search{
        display: inline;
    }
    .slider-content {
        width: 50%;
        left: 49%;
    }
    .slider-content .fa {
        font-size: 9px;
    }
    div.slider-content p {
        font-size: 0.5em;
        margin-bottom: 2px;
    }
    div.slider-content p#header-of-content {
        font-size: 0.8em;
    }
    .slider-content .action-buttons {
        margin-bottom: -5px;
    }
    .item .slider-content span {
        font-size: 0.5em;
    }
    .navbar-form {
        display: none;
    }
    .logform {
        margin-left: 0;
    }
    .product2 .title-fonts, .product5 .title-fonts {
        left: 10em;
    }
    i.fa.fa-share-square-o.fa-lg {
        margin-left: -1px;
    }
    i.fa.fa-shopping-cart.fa-lg {
        margin-left: -2px;
    }
    .wish-and-cart #star {
        border-left: none;
    }
    .carousel-text h4 {
        font-size: 0.8em;
    }
    .carousel-text p {
        font-size: 0.5em;
        margin-top: -0.7em;
    }
    .offers img {
        display: block;
        width: 60% !important;
        margin-top: 1em;
        margin-left: 20%;
    }
    .offers img:last-child {
        margin-left: 20%;
    }
    .products-title button {
        margin-top: 0.8em;
    }
    .new-arrivals img {
        display: block;
        width: 60% !important;
        margin-left: 20%;
    }
    .product1 .title-fonts, .product4 .title-fonts {
        top: 10.8em;
        left: 9em;
    }
    .product2 .title-fonts, .product5 .title-fonts {
        top: 23.3em;
        left: 9em;
    }
    .product3 .title-fonts, .product6 .title-fonts {
        top: 35.9em;
        left: 9em;
    }
    .testimonials {
        width: 100%;
        margin-left: 0;
    }
    .blog-news {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1em;
    }
    .blog-news h5 {
        font-size: 0.9em;
        margin-top: -0.2em;
    }
    .under-footer {
        border-top: none;
    }
    .under-footer form {
        margin-top: 6em;
    }
    .flickr {
        margin-left: 1em;
    }
    .social-buttons {
        text-align: center;
    }
    .copyright {
        text-align: center;
    }
    .modal2 {
        width:100%;
        margin-left: 0;
        z-index: 25;
    }
    .poster img {
        height: 150px !important;
    }
    .poster .slider-content {
        top: 20%;
    }
    .filters {
        text-align: center;
    }
    .products-title .crumbarticle .breadcrumb {
        display: none;
    }
    .view {
        display: none;
    }
    ol.carousel-indicators {
        width:100%;
    }
}


